alembic
bleach
blinker
click
colorama
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
Mako
Markdown
MarkupSafe
mysql
mysql-connector-python
mysqlclient
protobuf
six
SQLAlchemy
typing_extensions
webencodings
Werkzeug
